﻿@{
    ViewData["Title"] = "Chat Page";
    Layout = "_Layout";
}

<!-- Trong file HTML của trang web -->

<input type="text" id="connectId">

<div class="row"> 
<input type="text" id="userSend" placeholder="Tên của bạn">
<input type="text" id="userReceive" placeholder="Tên người nhận">
<input type="text" id="messageInput" placeholder="Nhập tin nhắn">
<button id="sendButton">Gửi</button>
<button id="sendToUser">Gửi người dùng </button>
</div>

<h4>Chat all</h4>
<div id="chatMessages"></div>
<h4>Chat user</h4>
<div id="chatMessagesToUser"></div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/chatHub")
        .configureLogging(signalR.LogLevel.Information)
        .build();

    connection.start().then(function () {
        connection.invoke("GetConnectionId").then(function(id){
            $("#connectId").val(id);
        });
        
        $("#sendButton").click(function () {
            var user = $("#userSend").val();
            var message = $("#messageInput").val();
            connection.invoke("SendMessage", user, message).catch(function (err) {
                return console.error(err.toString());
            });
        });

        $("#sendToUser").click(function () {
            var user = $("#userSend").val();
            var userReceive = $("#userReceive").val();
            var message = $("#messageInput").val();
            connection.invoke("SendMessageToUser", user, userReceive, message).catch(function (err) {
                return console.error(err.toString());
            });
        });
    });

    connection.on("ReceiveMessage", function (user, message) {
        var encodedMessage = user + " says: " + message;
        $("#chatMessages").append("<div>" + encodedMessage + "</div>");
    });
    connection.on("ReceiveMessageToUser", function (user, message) {
        var encodedMessage = user + " says: " + message;
        $("#chatMessagesToUser").append("<div>" + encodedMessage + "</div>");
    });
</script>
